[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rotor"]
	path = rotor
	url = https://github.com/s-fleck/rotor
	shallow = true
	registered = true
[submodule "lgr"]
	path = lgr
	url = https://github.com/s-fleck/lgr
	shallow = true
	registered = true
[submodule "testthis"]
	path = testthis
	url = https://github.com/s-fleck/testthis
	shallow = true
	registered = true
[submodule "colt"]
	path = colt
	url = https://github.com/s-fleck/colt
	shallow = true
	registered = true
[submodule "dint"]
	path = dint
	url = https://github.com/s-fleck/dint
	shallow = true
	registered = true
