[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colt"]
	path = colt
	url = https://github.com/s-fleck/colt
[submodule "dint"]
	path = dint
	url = https://github.com/s-fleck/dint
[submodule "lest"]
	path = lest
	url = https://github.com/s-fleck/lest
[submodule "lgr"]
	path = lgr
	url = https://github.com/s-fleck/lgr
[submodule "lgrExtra"]
	path = lgrExtra
	url = https://github.com/s-fleck/lgrextra
[submodule "rotor"]
	path = rotor
	url = https://github.com/s-fleck/rotor
[submodule "smartmap"]
	path = smartmap
	url = https://github.com/s-fleck/smartmap
[submodule "testthis"]
	path = testthis
	url = https://github.com/s-fleck/testthis
